<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= inline_stylesheet(current_page.data.inline_stylesheet) %>
  <title><%= current_page.data.title %></title>
  <meta name="description" content="<%= current_page.data.description %>">
<% if current_page.data.meta_robots %>
  <meta name="robots" content="<%= current_page.data.meta_robots %>">
<% end %>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-50896769-1', 'iamthomasmarek.com');
    ga('send', 'pageview');
  </script>
</head>
<body<%= current_page.data.body_class.present? ? " class='#{current_page.data.body_class}'" : "" %>>
<!--[if lt IE 9]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank" rel="nofollow">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
  <div id="container">
    <% if content_for?(:header) %>
      <header>
        <nav>
          <a href="/">HOME</a>
          <a href="/my-bookshelf/">BOOKSHELF</a>
        </nav>
        <div class="headshot">
          <img src="/images/headshot-white-background.jpg" alt="Headshot">
        </div>
        <%= yield_content :header %>
      </header>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
    <footer>
      © <%= Time.now.year %> Thomas Marek
    </footer>
  </div>
  <!--<script src="javascripts/all.js"></script>-->
</body>
</html>